name = "cipc-mfe"
compatibility_date = "2024-01-01"
pages_build_output_dir = ".next"

[build]
command = "npm run build"
cwd = "."

[build.upload]
format = "service-worker"

[[build.upload.rules]]
type = "ESModule"
globs = ["**/*.js"]

[vars]
NEXT_PUBLIC_TYPEBOT_ID = "cipc-lead-capture"

[build.environment_variables]
NODE_VERSION = "18"
